@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script src="~/scripts/searchbox.js"></script>
<p>Use this area to provide additional information.</p>

<input class="search"  name="street" type="text" />
<input class="search"  name="city" type="text" />

<div id="thumbnails"></div>

<script>
    $('input.search').searchbox({
        url: 'http://localhost:54362/Person/AllPersons',
        dom_id: '#thumbnails',
        delay: 250,
        loading_css: '#spinner'
    });

</script>